/* style.css */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4C83C9;
    text-align:center
}

header {
    background-color: #2E67B0;
    color: white;
    padding: 1em;
    text-align: center;
      
}
h1{
    font-family: "One Starry Night", cursive;
    color: rgb(76, 219, 255);
    font-size: 50px;
}
h2{
    font-family: "One Starry Night", cursive;
    color:Black;
    font-size:35px
}
h3{
    font-family: "One Starry Night", cursive;
    font-size:20px;
}

p{
    font-family: "One Starry Night", cursive;
    color:Black;
    font-size:20px
}
li {
    list-style-position:inside;
}
.recipe {
    width: 35%; /* Adjust as needed */
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
.recipe-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    padding: 0 15px;
}

nav ul li a {
    color: #CBDFF9;
    text-decoration: none;
    font-size: 25px;
    font-family: "One Starry Night", cursive;

}

main {
    padding: 20px;
    text-align: left;
}

footer {
    background-color: #2E67B0;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
button{
    background-color:#4C83C9;
    border-radius:10px;
}
.hover:hover::after{
    content:" Click to reveal answer";
    background-color:#F50A2D;
}
#Q1:active::after{
    content:" It comes from Christ's Mass";
    background-color:#F5D20A
}
#Q2:active::after{
    content: " The Nutcracker.";
    background-color:#F5D20A
}
#Q3:active::after{
    content: " Germany";
    background-color:#F5D20A
}
#Q4:active::after{
    content: " Eggnog";
    background-color:#F5D20A
}
#Q5:active::after{
    content: " 1857";
    background-color:#F5D20A
}